<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Tesla Supercharger Map Service</display-name>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- The beans in this context file(s) will be part of a "Root WebApplicationContext" accessible to all contexts
         defined for a single DispatcherServlet.

          This context is initialized BEFORE the DispatcherServlet context(s). -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/redshiftsoft/tesla/app-context.xml</param-value>
    </context-param>

    <!-- ===============================================================================================================
    Session Config
    ================================================================================================================ -->

    <session-config>
        <!-- 30 minutes is the default in tomcat's default web.xml.  Ideally we would disable sessions and JSESSIONID
            id cookies entirely.  Sessions are NOT currently used in the service web app. -->
        <session-timeout>10</session-timeout>

        <cookie-config>
            <!-- Don't really use the session cookie, but might as well prevent javascript form accessing it. -->
            <http-only>true</http-only>
        </cookie-config>
    </session-config>


    <!-- ===============================================================================================================
    User Filter
    ================================================================================================================ -->

    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>userFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ===============================================================================================================
    Security Filter
    ================================================================================================================ -->

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>securityFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ===============================================================================================================
    Headers Filter
    ================================================================================================================ -->

    <filter>
        <filter-name>headersFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>headersFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>headersFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- ===============================================================================================================
    CacheControl Filter
    ================================================================================================================ -->

    <filter>
        <filter-name>cacheControlFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>cacheControlFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>cacheControlFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- ===============================================================================================================
    Spring MVC servlet
    ================================================================================================================ -->

    <servlet>
        <servlet-name>supercharge</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>supercharge</servlet-name>
        <url-pattern>/supercharge/*</url-pattern>
    </servlet-mapping>


</web-app>